<div class="container">
  <div class='form-header'>
    <h1 class="form-header-text">料理登録</h1>
  </div>
  <div class="row">
    <div class="#">
      <%= form_with model: @cook, local: true do |f| %>
        <%#= render 'shared/error_messages', object: f.object %>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <div class="new-message-field">
              <p>クリックして料理の写真をアップロード※必須</p>
              <%= f.file_field :image, id:"new-item-image", class: 'form-control' %>
            </div>
          </div>
        </div>
        
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">料理名</label>
            <span class="indispensable">※必須</span>
          </div>
          <%= f.text_field :name, class: 'form-control', id: 'dish_name' %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">説明</label>
            <span class="input-unneed">※任意</span>
          </div>
          <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'dish_description' %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">分量</label>
            <span class="input-unneed">※任意</span>
          </div>
          <%= f.text_field :portion, class: 'form-control', id: 'dish_portion' %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">ポイント</label>
            <span class="input-unneed">※任意</span>
          </div>
          <%= f.text_field :point, size: "30x4", class: 'form-control', id: 'dish_tips' %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">参照サイト</label>
            <span class="input-unneed">※任意</span>
          </div>
          <%= f.text_field :reference, class: 'form-control', id: 'dish_reference' %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">所要時間</label>
            <span class="input-unneed">※任意</span>
          </div>
          <%= f.text_field :time, class: 'form-control', id: 'dish_required_time' %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">見た目</label>
            <span class="input-unneed">※任意</span>
          </div>
          <%= f.text_field :appearance, class: 'form-control', id: 'dish_popularity' %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">メモ</label>
            <span class="input-unneed">※任意</span>
          </div>
          <%= f.text_field :memo, class: 'form-control', id: 'dish_cook_memo' %>
        </div>

        <div class='cook-send'>
          <%= f.submit "送信" ,class:"register-red-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>