<%= render "shared/header" %>


<div class="show-header">
  <div class="show-inner-header">
    <h1 class="show-title">
      今日の食卓
    </h1>
  </div>
</div>

<div class="show">

  <div class="show-cook-inner">
    <div class="show-inner-title">
      <h1><%= @cook.name %></h1>
      <% if user_signed_in? %>
        <%= render 'users/favorite_form' %> 
      <% end %>
    </div>
    <div class="show-image">
      <%= image_tag @cook.image.variant(resize: '250x250'), class: 'mesage-image' if @cook.image.attached? %>
    </div>
    <% if @cook.description.present? %>
      <h2><%= @cook.description %></h2>
    <% end %>
    <% if @cook.reference.present? %>
      <h2 class="cook-reference">作り方：<%= link_to "#{@cook.reference}", @cook.reference, target: "_blank" %></h2>
    <% end %>
    <% if @cook.portion.present? %>
      <h2 class="cook-portion">分量：<span class="cook-other-info"><%= @cook.portion %></span> 人分</h2>
    <% end %>
    <% if @cook.point.present? %>
      <div class="cook-point">
        <h2 class="cook-title-point">コツ・ポイント</h2>
        <h2><%= @cook.point %></h2>
      </div>
    <% end %>

    <div class="show-cook-other-info">
      <% if @cook.time.present? %>
        <div class="cook-info">
          <h2>所要時間：<span class="cook-other-info"><%= @cook.time %></span>分</span></h2>
        </div>
      <% end %>
      <% if @cook.appearance.present? %>
        <div class="cook-info">
          <h2>人気度：<span class="cook-other-info"><%= @cook.appearance %><span></h2>
        </div>
      <% end %>
    </div>


  </div>

  <div class="show-sub">
    <div class="show-new-post">
        <p class="show-cook-text">自分レシピを紹介しよう！</p>
        <div class="show-post-sub">
          <%= link_to "料理投稿", new_cook_path, class:"show-post"%>
        </div>
    </div>
  
  
    <% if user_signed_in? && current_user.id == @cook.user_id %>
      <div class="show-edit-delete">
        <ul>
          <li class="show-post-sub-edit"><%= link_to "編集", edit_cook_path(@cook.id), class:"show-post-edit"%></li>
          <li class="show-post-sub-delete"><%= link_to "削除", cook_path(@cook.id), method: :delete, class:"show-post-delete"%></li>
          <li class="show-post-sub-fav"><%= link_to "お気に入り", top_path(@cook.id), class:"show-post-fav"%></li>
        </ul>
      </div>
    <% elsif user_signed_in? %>
      <div class="show-fav">
        <ul>
          <li style="text-align:center;"><p>お気に入り登録一覧！！</p></li>
          <li class="show-post-sub-fav"><%= link_to "お気に入り", top_path(@cook.id), class:"show-post-fav"%></li>
        </ul>
      </div>
    <% end %>
  </div>

</div>






<%= render "shared/footer" %>