<%= render "shared/header" %>

<main class="main">

  <div class="main-main">
    <div class="menu">
      <ul class="menu-main-list">
        <li><%= link_to '掲示板', posts_path %></li>
        <li><%= link_to '写真投稿', cooks_path %></li>
        <li><%= link_to 'カレンダー', blogs_path %></li>
        <li><%= link_to '未定', "#" %></li>
      </ul>
    </div>
  </div>
  
    <div class="main-top">
      <h1>主婦の味方</h1>
      <h2>もう時間におわれない！</h2>
    </div>
 

</main>


<%= render "shared/footer" %>