<%= render "shared/header" %>

<div class="header">
  <div class="inner-header">
    <h1 class="title">
        家計簿
    </h1>
    <p class='new-post'>
      <%= link_to "家計簿登録", new_income_path, class:"post-btn"%>
    </p>
  </div>
</div>

<div class="income-calendar">
  <%= month_calendar events: @incomes do |date, events| %>
    <%= date.day %>
    <% @s = date.month %>
    <% sum = 0 %>
    <% events.each do |event| %>
      <% if user_signed_in? && current_user.id == event.user_id %>
        <% sum += event.amount %>
      <% end %>
    <% end %>
    <% if sum>0 %>
      <div>
        <p class="sum-income"><%= sum %>円</p>
      </div>
    <% end %>
  <% end %>
</div>
<% @s.to_i %>
<% @h = @s-1 %>


<div class="investment">
  <ul class="income-sum">
    <li>収入</li>
    <li>支出</li>
    <li>合計</li>
  </ul>
  <ul class="income-sum">
    <li><%= @sum_getmoney %>円</li>
    <li><%= @sum_income %>円</li>
    <li>300円</li>
  </ul>
</div>

<div class="record">
  <div class="income">
    <h1>収入記録</h1>
    <div class="income-inner">
    <% @incomes.each do |income| %>
      <% if @h == income.start_time.strftime('%m').slice(1).to_i %>
        <% if user_signed_in? && current_user.id == income.user_id %>
          
          <div class="income-top">
            <p class="income-time">
              <%= income.start_time.strftime("%m月%d日") %>
            </p>
          </div>
          <%= link_to edit_income_path(income.id) do %>

            <div class="income-main">

              <div class="income-item">
                <p class="income-category">
                  <%= income.category.name %>
                </p>
              </div>

              <div class="income-item">
                <% if income.memo.present? %>
                  <p class="income-memo">
                    (<%= income.memo %>)
                  </p>
                <% end %>
              </div>

              <div class="income-item">
                <p class="income-amount">
                  <%= income.amount %>円
                </p>
              </div>

            </div>

          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>



  <div class="income">
    <h1>支出記録</h1>
    <div class="income-inner">
    <% @incomes.each do |income| %>
      <% if @h == income.start_time.strftime('%m').slice(1).to_i %>
        <% if user_signed_in? && current_user.id == income.user_id %>
          
          <div class="income-top">
            <p class="income-time">
              <%= income.start_time.strftime("%m月%d日") %>
            </p>
          </div>
          <%= link_to edit_income_path(income.id) do %>

            <div class="income-main">

              <div class="income-item">
                <p class="income-category">
                  <%= income.category.name %>
                </p>
              </div>

              <div class="income-item">
                <% if income.memo.present? %>
                  <p class="income-memo">
                    (<%= income.memo %>)
                  </p>
                <% end %>
              </div>

              <div class="income-item">
                <p class="income-amount">
                  <%= income.amount %>円
                </p>
              </div>

            </div>

          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>

</div>