<%= form_with model: @income, url:incomes_path, local: true do |f| %>
  <div class="article-box">
    出資
    <%= f.text_field :amount, class:"title", placeholder:"金額" %>
    <%= f.text_area :memo, class:"text", placeholder:"めも" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"genre-select"}) %>
    <div class="time">
      <%= f.label :日付 %>
      <%= f.datetime_select :start_time %>
    </div>
    <%= f.submit "投稿する" ,class:"btn" %>
  </div>
<% end %>