<%= render "shared/header" %>
<div class="header">
  <div class="inner-header">
    <h1 class="title">
     掲示板
    </h1>
    <li class='new-post'>
      <%= link_to "New Post", new_post_path, class:"post-btn"%>
    </li>
  </div>
</div>

<div class="message">
  <div class="message-wrap">
    <% @posts.each do |post|%>
      <div class="post">
        <%= link_to post_path(post.id) do %>
          <div class="post-date">
            投稿日時：<%= post.created_at %>
          </div>
          <div class="post-content">
            <%= post.title %>
          </div>
        <% end %>
      </div>
    <%end%>
    <%= paginate @posts %>
  </div>
</div>

<%= render "shared/footer" %>

