<div class="header">
  <div class="inner-header">
    <h1 class="title">
     TagTweet
    </h1>
    <li class='new-post'>
      <%= link_to "New Post", new_post_path, class:"post-btn"%>
    </li>
  </div>
</div>

<div class="post-main">
  <div class="message-wrap">
    <% @posts.each do |post|%>

      <div class="message">
        <p class="title">
          <%= post.title %>
        </p>
        <p class="text">
          <%= post.text %>
        </p>
        <p class="genre">
          <%= post.genre.name %>
        </p>

        <%= image_tag post.image.variant(resize: '50x50'), class: 'message-image' if post.image.attached? %>

        <ul class="tag">
          <li class="tag-list">
            <%post.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </li>
        </ul>

      </div>

    <%end%>
  </div>
</div>

