
  <div class='form-header'>
    <h1 class="form-header-text">New Post</h1>
  </div>

<%= form_with model: @post, url: posts_path, local: true do |f| %>


  <div class='new-message-form'>


    <div class="form-group">
      <%= f.label :title,  "タイトル(※必須)" %>
      <%= f.text_field :title, class:"input-message" %>
    </div>

    <div class="form-group">
      <%= f.label :title,  "ジャンル(※必須)" %>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
    </div>

    <div class="form-group">
      <%= f.label :text,  "テキスト(※必須)" %>
      <%= f.text_area :text, class:"new-input-message" %>
    </div>

    <div class="form-group">
      <p>
        クリックしてファイルをアップロード(※任意)
      </p>
      <%= f.file_field :image, id:"new-item-image" %>
    </div>


    <div class="form-group", id='tag-field'>
      <%= f.label :name, "タグ(※任意)" %>
      <%= f.text_field :name,placeholder:"例) #主婦,#味方", class:"new-input-tag" %>
    </div>


    <div id="search-result">
    </div>


  </div>


  <div class="cook-send">
    <%= f.submit "Send", class:"register-red-btn" %>
  </div>
<% end %>







