<%= form_with model: @post, url: posts_path, class:'new-form-wrap', local: true do |f| %>


  <div class='new-message-form'>


    <div class="new-message-field">
      <%= f.label :title,  "タイトル" %>
      <%= f.text_field :title, class:"input-message" %>
    </div>

    <div class="new-message-field">
      <%= f.label :title,  "ジャンル" %>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
    </div>

    <div class="new-message-field">
      <%= f.label :text,  "テキスト" %>
      <%= f.text_area :text, class:"new-input-message" %>
    </div>

    <div class="new-message-field">
      <p>
        クリックしてファイルをアップロード※任意
      </p>
      <%= f.file_field :image, id:"new-item-image" %>
    </div>


    <div class="new-tag-field", id='tag-field'>
      <%= f.label :name, "タグ" %>
      <%= f.text_field :name, class:"new-input-tag" %>
    </div>


    <div id="search-result">
    </div>


  </div>


  <div class="new-submit-post">
    <%= f.submit "Send", class: "new-submit-btn" %>
  </div>
<% end %>







<div class="container">
  <div class='form-header'>
    <h1 class="form-header-text">New Post</h1>
  </div>


  <div class="row">
    <div class="#">
      <%= form_with model: @post, url: posts_path, local: true do |f| %>
        <%#= render 'shared/error_messages', object: f.object %>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">タイトル</label>
            <span class="indispensable">※必須</span>
          </div>
          <%= f.text_field :text, class: 'form-control', id: 'dish_name' %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">ジャンル</label>
            <span class="input-unneed">※必須</span>
          </div>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">テキスト</label>
            <span class="input-unneed">※必須</span>
          </div>
          <%= f.text_field :text, class: 'form-control', id: 'dish_portion' %>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <div class="new-message-field">
              <p>クリックして料理の写真をアップロード※任意</p>
              <%= f.file_field :image, id:"new-item-image", class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class = 'form-group'>
          <div class='form-text-wrap'>
            <label class="form-text">タグ</label>
            <span class="input-unneed">※任意</span>
          </div>
          <%= f.text_field :name, class: 'form-control', id: 'dish_reference' %>
        </div>

        <div class='cook-send'>
          <%= f.submit "送信" ,class:"register-red-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>