<% if @post.present? %>

  <%= render "shared/header" %>


  <div class="show-header">
    <div class="show-inner-header">
      <h1 class="show-title">
        主婦の掲示板
      </h1>
    </div>
  </div>

  <div class="show">

    <div class="show-inner">
      <div class="show-inner-title">
        <h1><%= @post.title %></h1>
      </div>
      <div class="show-main">
        <ul class="show-genre">
          <li class="show-genre-title">ジャンル -<li>
          <li><%= @post.genre.name%></li>
        </ul>
        <p class="show-text"><%= @post.text %></p>
        <div class="show-image">
          <%= image_tag @post.image.variant(resize: '150x150'), class: 'mesage-image' if @post.image.attached? %>
        </div>
        <div class="show-tag">
          <%@post.tags.each do |tag| %>
            <%=tag.name%>
          <%end%>
        </div>
      </div>

      <%# コメント投稿 %>
      <div class="comment">
        <h4 class="show-comments-title">＜コメント一覧＞</h4>
        <div class="show-comments">
          <% @comments.each do |comment| %>
            <div class="show-comment-content">
              <p>
                <strong><%=comment.user.nickname%>：</strong>
                <%= comment.text %>
              </p>
            </div>
          <% end %>
        </div>

        <div class="show-container">
          <% if user_signed_in? %>
            <%= form_with(model: [@post, @comment], local: true) do |form| %>
              <%= form.text_field :text, placeholder: "コメントする", rows: "2" %>
              <%= form.submit "SEND" %>
            <% end %>
          <% else %>
            <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
          <% end %>
        </div>
      </div>


    </div>
    <div class="show-sub">
      <div class="show-new-post">
          <p>悩み相談や雑談など何でもOK！</p>
          <div class="show-post-sub">
            <%= link_to "New Post", new_post_path, class:"show-post"%>
          </div>
      </div>



      <div class="show-edit-delete">
        <ul>
          <li class="show-post-sub-edit"><%= link_to "編集", edit_post_path(@post.id), class:"show-post-edit"%></li>
          <li class="show-post-sub-delete"><%= link_to "削除", post_path(@post.id), method: :delete, class:"show-post-delete"%></li>
        </ul>
      </div>




    </div>
    
  </div>
<% end %>





<%= render "shared/footer" %>